body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(31, 0, 209);
  background-color: rgb(178, 204, 178);
}

header {
  text-align: center;
}

.selector-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  height: 80vh;
  width:100vw;
  justify-content: space-around;
  align-items: center;
}

.item {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 5em;
  display: none;
}

h3 {
  font-size: 2em;
}

svg {
  width: 70%;
  fill: rgb(31, 0, 209);
  transition: transform 1s ease ;
}

svg:hover {
  /* transform: rotate(360deg); */
  transform: translateY(10px)
}

select {
  width: 20rem;
  font-size: 1.5em;
  margin: 1em;
}

.loader {
  width: 1em;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.one-more {
  animation: rotate 2s ease;
}

@media (max-width: 360px) {
  select {
    width: 100%;
  }
}